{% extends 'download_template.html' %}
{% set title = 'Academic download' %}
{% set active_page = 'download' %}

{% block index %}

<li class="toctree-l1"><a class="reference internal" href="#account">Creating an AWS account</a></li>
<li class="toctree-l1"><a class="reference internal" href="#pack">Installing AceCloud client</a></li>
<li class="toctree-l1"><a class="reference internal" href="#conf">Configuring AceCloud</a></li>
<li class="toctree-l1"><a class="reference internal" href="#start">Start using AceCloud</a></li>

{% endblock index %}


{% block content %}
<div style="padding-top:10px; padding-bottom:30px;" id="allbody">
	<div style="width:90%; margin: auto auto;">

		<h2>How to Setup AceCloud</h2>

			<h3 id="account">Sign Up to AWS</h3>
				<p>AceCloud uses your existing Amazon Web Services account for its compute power. If you don’t yet have an AWS account,
				register <a class="reference external" href="http://aws.amazon.com/">at this site</a>. You will need to supply credit card details for billing purposes.</p>

		<h3>Install the AceCloud Client Software</h3>
		
			<p>For the full AceCloud experience, including automatic execution on EC2 and transparent scaling to large numbers of
			simulations, the AceCloud client software must be installed on your workstation and configured to use your Amazon
			account.
		

		<h4 id="pack" class="style4"> Getting the package installer</h4>

				<p class="style1">
					First, check if you already have conda:</p>
				<div class="style2">
					<code  class="style3">  conda -V </code >
				</div>
				<br>
				<p class="style1">
					If this command reports the conda version, follow to the <a href="#installing-htmd">Installing HTMD</a>
					section. If not, download the appropriate following package:</p>
				<table style="border:1px solid rgb(211,211,211);border-spacing: 0; width:80%; margin: auto auto;">
					<tr>
						<td style="border-left: 1px solid rgb(211,211,211); padding-top:10px;padding-bottom:10px;width:33%;background-color: #f9f9f9;text-align: center;">
							<span style='opacity:0.6' class="fa fa-linux fa-4x"></span>
							<p style="color:rgb(102,102,102);text-align:center;">Linux</p></td>
						<td style="padding-top:10px;padding-bottom:10px;width:33%;background-color: #f9f9f9;text-align: center;">
							<span style='opacity:0.6' class="fa fa-apple fa-4x"></span>
							<p style="color:rgb(102,102,102);text-align:center;">Mac OS X<br><small>(Some features are not supported)</small></p></td>
						<td style="border-left: 1px solid rgb(211,211,211); padding-top:10px;padding-bottom:10px;width:33%;background-color: #f9f9f9;text-align: center;">
							<span style='opacity:0.6' class="fa fa-windows fa-4x"></span>
							<p style="color:rgb(102,102,102);text-align:center;">Windows<br><small>(Some features are not supported)</small></p></td>
					</tr>
					<tr>
						<td style="border-top:1px solid rgb(211,211,211);text-align:center;padding-top:10px; padding-bottom:10px;">
							<p style="text-align:center;"><a class="reference external"
								  href="https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh">64-bit (bash
								installer)</a></p>

						</td>
						<td style="text-align:center;border-left:1px solid rgb(211,211,211);padding-top:10px; padding-bottom:10px;border-top:1px solid rgb(211,211,211);">
							<p style="text-align:center;"><a class="reference external"
								  href="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh">64-bit (bash
								installer)</a></p>
						</td>
						<td style="text-align:center;border-left:1px solid rgb(211,211,211);padding-top:10px; padding-bottom:10px;border-top:1px solid rgb(211,211,211);">
							<p style="text-align:center;"><a style='color:blue' class="reference external"
								  href="https://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe">64-bit (exe
								installer)</a></p>
						</td>
					</tr>
				</table>

				<p class="style2">
					Now, to install the conda package manager, go to directory where to you downloaded the previous package and
					run: </p>
				<div class="style2">
					<code  class="style3">  bash Miniconda3-latest-*-x86_64.sh</code >
				</div>
				<br>
				<p class="style1">
					And follow the instructions.</p>            
			
		 <h4 id="install"class="style4">Installing AceCloud</h4>   
			<p class="style1">    
			To install AceCloud, run the command:
			<div class="style2">
				<code  class="style3"> conda install -c acellera acecloud-client</code > <br>
			</div>
			</p>



			
			<p>You can also install it as a part of HTMD following <a href="http://software.acellera.com/academic-download.html">these instructions</a>.</p>
		
		<h3 id="conf">Configuring AceCloud</h3>
			<p>AceCloud requires configuration before it can be used. Once the software is installed, run the command:</p>
			<div class="highlight-bash"><div class="highlight"><pre><span></span>acecloud --setup
			</pre></div>
			</div>
			<p>This will open two browser windows. In the first, complete any login prompt and then subscribe to the
			<a class="reference external" href="https://aws.amazon.com/marketplace/pp/B01N3SBK3Z">AceCloud Amazon Marketplace product</a>.
			Follow the instructions in the termination window to obtain AWS access credentials from the page opened in the second
			window.</p>


		<h2 id="start">How to Use AceCloud</h2>
			<p>The AceCloud client runs ACEMD and Gromacs simulations on Amazon AWS resources. It performs all file copying and VM
			instantiation operations automatically - once configured with AWS access credentials the user does not need to interact
			directly with the AWS Console.
			The syntax for all AceCloud operations is given by:</p>
			<div class="highlight-bash"><div class="highlight"><pre><span></span>acecloud --help
			</pre></div>
			</div>
			
		<p class="style1">If you encounter any problems installing this software, please contact us directly at support@acellera.com</p>


		<h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
		How it works</h1>
		 
		 You can start by reading how to setup and work with acecloud <a href="http://software.acellera.com/docs/latest/acecloud/index.html"> here </a>.
		 You can also read and watch this <a href="https://www.acellera.com/products/acecloud-molecular-dynamics-cloud-computing/"> tutorial </a>.

            

    </div>
</div>
{% endblock %}

