{% extends 'download_template.html' %}
{% set title = 'Academic download' %}
{% set active_page = 'download' %}
{% block content %}
<div style="padding-top:10px; padding-bottom:30px;" id="allbody">
    <div style="width:90%; margin: auto auto;">

        <h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Prerequisites</h1>

        <p class="style1">
			Hardware: ACEMD requires a modern NVIDIA GPU: we recommend the Geforce 980, 1080 or Tesla K and P-series GPUs. The latest NVIDIA Driver should be installed, available from <a href='http://www.nvidia.com/Download/index.aspx'> here</a>
		</p>
		
        <p class="style1">
		Software: ACEMD requires a 64bit Linux OS. ACEMD is formally qualified with Red Hat EL6, but will work with any Linux distribution supported by NVIDIA CUDA, provided the GLIBC version is 2.12 or higher. Note that RHEL 5 and SLES 10 are not supported. For replica exchange support, please ensure that the OS’s openmpi packages are installed.
		</p>

        <h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Getting ACEMD</h1>
            
        <p class="style1">    
        ACEMD is now distributed as part of Acellera’s High Throughput Molecular Dynamics Toolkit. To install this, please <a href='http://software.acellera.com/academic-download.html'> read instructions HERE</a>.
		</p>
		
		<p class="style1">
		Existing customers: We recommend that you change to the above method too.
		</p>

        <h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Install ACEMD Basic</h1>
        <p class="style1"> 
        Even if you have not purchased an ACEMD Pro license, ACEMD can be used in Basic mode, in which it is restricted to running on the first GPU of your computer.
		</p>
		
		<p class="style1"> 
		Basic mode first requires registration and acceptance of our <a href="http://software.acellera.com/news/license.pdf">EULA</a>. to do this, please run the command htmd_register and enter your details.
		</p>
		
		<p class="style1"> 
		ACEMD may then be run from the command line with the command acemd, or via HTMD    
		</p>
		
        <h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Getting ACEMD Pro</h1>
        <p class="style1"> 
			ACEMD Pro lets you use all your GPU units. You can find information on how to get it <a href="acemd-pro-download.html">here</a>
		</p>

		
		<h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Nvidia driver update procedure</h1>	
		
		<p class="style1">It is generally not recommended updating the driver unless there is a necessary bug fix in a later version.
		That, said, here is what you should do assuming the OS is CentOS:</p>

		<ul style="line-height:2.4;">
		  <li>As root, “yum update”. Reboot if the kernel is updated.</li>
		  <li>Download the new driver from <a href="http://www.nvidia.com/Download/index.aspx">here</a></li>
		  <li><code class="highlighter-rouge">chmod +x NVIDIA-Linux-x86_64-XXX.XX.run</code></li>
		  <li>As root, <code class="highlighter-rouge">telinit 3</code> to drop the text mode</li>
		  <li>Run NVIDIA installer, answering yes to all questions</li>
		  <li><code class="highlighter-rouge">reboot</code></li>
		</ul>

		<h1 style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important" id="extra-features">Extra features</h1>

		<h2 id="more-on-replica-exchange-and-mpi">More on Replica Exchange and MPI</h2>

		<p class="style1">ACEMD supports ensemble simulations for replica exchange molecular dynamics. This is implemented using MPI for parallel communication. Because there are many different MPI implementations, all with different binary interfaces, ACEMD includes a wrapper library to allow it be used with whichever MPI your system is configured with.</p>

		<p class="style1">If you do not intend to use ensemble methods, and receive no warnings or errors when running ACEMD, you do not need to take any further action.</p>

		<p class="style1">The wrapper library, libmpiwrapper.so, provided with ACEMD is built against OpenMPI and compatible with Red Hat / Centos 6+  OS packages. If you wish to use a different MPI, you must recompile the wrapper as follows:</p>
		<div class="highlighter-rouge"><pre class="highlight"><code>    $ cd [HTMD installation home]/mpiwrapper
			$ make
		</code></pre>
		</div>
		<p class="style1">If you receive any errors, check that the MPI development packages and C compiler are installed. If successful, the libmpiwrapper.so in the lib directory will be reconfigured for your system.</p>


		<p class="style1">If you encounter any problems installing ACEMD Basic or Pro, please contact us directly at support@acellera.com</p>


    </div>
</div>
{% endblock %}

