{% extends 'download_template.html' %}
{% set title = 'Academic download' %}
{% set active_page = 'download' %}

{% block index %}

<li class="toctree-l1"><a class="reference internal" href="#prer">Prerequisites</a></li>
<li class="toctree-l1"><a class="reference internal" href="#pack">Getting the package installer</a></li>
<li class="toctree-l1"><a class="reference internal" href="#install">Install ACEMD</a></li>
<li class="toctree-l1"><a class="reference internal" href="#regacemd">Register</a></li>
<li class="toctree-l1"><a class="reference internal" href="#startacemd">Start to run</a></li>
<li class="toctree-l1"><a class="reference internal" href="#htmdup">More information</a></li>

{% endblock index %}

{% block content %}
<div style="padding-top:10px; padding-bottom:30px;" id="allbody">
    <div style="width:90%; margin: auto auto;">
        <h1 id="getacemd" style="font-size:2.25em;margin-right:0px;margin-bottom:16px;margin-left:0px;line-height:1.2;padding-bottom:0.3em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(238,238,238);color:rgb(51,51,51);font-family:'Helvetica Neue',Helvetica,'Segoe UI',Arial,freesans,sans-serif;margin-top:20px!important">
            Getting ACEMD Basic</h1>
            
		<h2 id="install"class="style4">Installing ACEMD</h2>   
            
        <p id="installing-acemd" class="style1">    
        With conda installed, you can now easily install ACEMD Basic. ACEMD Basic comes together with HTMD, so you can easily install it by running the following commands::
		<div class="style2">
			<code  class="style3"> conda install -c acellera -c psi4 htmd</code > <br>
        </div>
		</p>
		
		<h2 id="regacemd"> Register</h2>
		<p class="style1"> 
		Basic mode first requires registration and acceptance of our <a href="http://software.acellera.com/news/license.pdf">EULA</a>. to do this, please run the command <code  class="style3">htmd_register</code> and enter your details.
		</p>
		
		<h2 id="startacemd"> Start to run</h2>		
		<p class="style1"> 
		ACEMD may then be run from the command line with the command <code  class="style3">acemd</code>, or via HTMD    
		</p>
 
        <!--Conda install-->
        <div style="white-space: nowrap;overflow-x: auto;"><h2 id="pack" class="style4" style="display: inline-block;">In case you do not have conda</h2><img style="display: inline-block;margin-left:5px;" src="./img/downicon.png" id="mpi" width="30" height="30"></div>
        <div id="mpip">
            <p id="pack" class="style1">
                First, check if you already have conda:</p>
            <div class="style2">
                <code  class="style3">  conda -V </code >
            </div>
            <br>
            <p class="style1">
                If this command reports the conda version, follow to the <a href="#installing-acemd">Installing ACEMD</a>
                section. If not, download the appropriate following package:</p>
            <table style="border:1px solid rgb(211,211,211);border-spacing: 0; width:80%; margin: auto auto;">
                <tr>
				    <td style="border-left: 1px solid rgb(211,211,211); padding-top:10px;padding-bottom:10px;width:33%;background-color: #f9f9f9;text-align: center;">
                        <span style='opacity:0.6' class="fa fa-linux fa-4x"></span>
                        <p style="color:rgb(102,102,102);text-align:center;">Linux</p></td>  
                </tr>
                <tr>
                    <td style="text-align:center;border-left:1px solid rgb(211,211,211);padding-top:10px; padding-bottom:10px;border-top:1px solid rgb(211,211,211);">
                        <p style="text-align:center;"><a class="reference external"
                              href="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh">64-bit (bash
                            installer)</a></p>
                    </td>
                </tr>
            </table>

            <p class="style2">
                Now, to install the conda package manager, go to directory where to you downloaded the previous package and
                run: </p>
            <div class="style2">
                <code  class="style3">  bash Miniconda3-latest-*-x86_64.sh</code >
            </div>
            <br>
            <p class="style1">
                And follow the instructions.</p>     
        </div>       


        <!--Prerequisites-->
	    <div style="white-space: nowrap;overflow-x: auto;"> <h2 id="prer" style="display: inline-block;">Prerequisites</h2><img style="display: inline-block;margin-left:5px;" src="./img/downicon.png" id="driverup" width="30" height="30"></div>
	        <div id="driverupp">
                <p class="style1">
			        Hardware: ACEMD requires a modern NVIDIA GPU: we recommend the Geforce 980, 1080 or Tesla K and P-series GPUs. The latest NVIDIA Driver should be installed, available from <a href='http://www.nvidia.com/Download/index.aspx'> here</a>
		        </p>
                <p class="style1">
		        Software: ACEMD requires a 64bit Linux OS. ACEMD is formally qualified with Red Hat EL6, but will work with any Linux distribution supported by NVIDIA CUDA, provided the GLIBC version is 2.12 or higher. Note that RHEL 5 and SLES 10 are not supported. For replica exchange support, please ensure that the OS’s openmpi packages are installed.
		        </p>
        </div>

        <!--More info-->
	<div style="white-space: nowrap;overflow-x: auto;"> <h2 id="start" style="display: inline-block;">More information</h2>  <img style="display: inline-block;margin-left:5px;" src="./img/downicon.png" id="htmdup" width="30" height="30"></div>
		<div id="htmdupp">
		    <div style="white-space: nowrap;overflow-x: auto;"><h4 style="display: inline-block;">Nvidia driver update procedure</h4></div>
                
		    <div id="driver">
			    <p class="style1">It is generally not recommended updating the driver unless there is a necessary bug fix in a later version.
			    That said, here is what you should do assuming the OS is CentOS:</p>

			    <ul style="line-height:2.4;">
			      <li>As root, “yum update”. Reboot if the kernel is updated.</li>
			      <li>Download the new driver from <a href="http://www.nvidia.com/Download/index.aspx">here</a></li>
			      <li><code class="highlighter-rouge">chmod +x NVIDIA-Linux-x86_64-XXX.XX.run</code></li>
			      <li>As root, <code class="highlighter-rouge">telinit 3</code> to drop the text mode</li>
			      <li>Run NVIDIA installer, answering yes to all questions</li>
			      <li><code class="highlighter-rouge">reboot</code></li>
			    </ul>
		
		    </div>


		    <div style="white-space: nowrap;overflow-x: auto;"><h4 style="display: inline-block;">Replica exchange and MPI</h4>   </div>
            
		    <div id="mp">
			    <p class="style1">ACEMD supports ensemble simulations for replica exchange molecular dynamics. This is implemented using MPI for parallel communication. Because there are many different MPI implementations, all with different binary interfaces, ACEMD includes a wrapper library to allow it be used with whichever MPI your system is configured with.</p>

			    <p class="style1">If you do not intend to use ensemble methods, and receive no warnings or errors when running ACEMD, you do not need to take any further action.</p>

			    <p class="style1">The wrapper library, libmpiwrapper.so, provided with ACEMD is built against OpenMPI and compatible with Red Hat / Centos 6+  OS packages. If you wish to use a different MPI, you must recompile the wrapper as follows:</p>
			    <div class="highlighter-rouge"><pre class="highlight"><code>    $ cd [HTMD installation home]/mpiwrapper
				    $ make
			    </code></pre>
			    </div>
			    <p class="style1">If you receive any errors, check that the MPI development packages and C compiler are installed. If successful, the libmpiwrapper.so in the lib directory will be reconfigured for your system.</p>

			    <p class="style1">If you encounter any problems installing ACEMD Basic or Pro, please contact us directly at support@acellera.com</p>
			
		    </div>
        </div>
    </div>
</div>
{% endblock %}


