{% extends 'common.html' %}
{% set title = 'Download' %}
{% set active_page = 'download' %}
{% block body_content %}

	<div id="cssmenu">
		<ul id="menu">
			<li class="menu-documentation active">
				<a href="./download.html">HTMD</a>
			</li>
			<li class="menu-download">
				<a href="./download_aceflow.html">AceFlow</a>
			</li>
			<li class="menu-about">
				<a href="./download_acetk.html">AceToolkit</a>
			</li>
		</ul>
	</div>



	<div style="padding-top:10px; padding-bottom:30px;"  id="allbody">
		<a href='academic-download.html' class='button'>Free HTMD standard (non-profit only)</a>
		<a href='https://www.acellera.com/contact/' class='button'>HTMD Pro</a>
		<a href='https://github.com/Acellera/htmd/' class='button'>Source code for code lovers</a>
	</div>
{% endblock %}

