

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117338414-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117338414-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Acellera Software Documentation &mdash; HTMD X.Y documentation</title>
    <link rel="shortcut icon" href="/img/ben.png"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./stylesheets/tables.css" type="text/css" />
    <link rel="stylesheet" href="./stylesheets/theme.css" type="text/css" />
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
	<link rel="index" title="Index" href="genindex.html"/>
	<link rel="search" title="Search" href="search.html"/>
    <link rel="top" title="HTMD X.Y documentation" href="#"/>
	<link rel="next" title="HTMD Documentation" href="htmd/index.html"/> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link href="/img/ben.png" rel="shortcut icon">
	<script src="./javascripts/scrollbar/jquery.min.js"></script> 
	<link href="./stylesheets/scrollToTop.css" rel="stylesheet"></link>
	<link href="./stylesheets/tables.css" rel="stylesheet"></link>
	<script src="./javascripts/scrollToTop.js"></script>
	<script src="./javascripts/theme.js"></script>
	<link rel="stylesheet" href="./stylesheets/slicknav.min.css"></link> 
	<script src="./javascripts/jquery.slicknav.min.js"></script>	
	
	
<!--
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"></link>
-->
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic">

	<script src="./javascripts/jquery.bxslider.min.js"></script>
	<link href="./stylesheets/jquery.bxslider.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="wy-body-for-nav" role="document">

 <div class='main-header'>
	<div class='main-header-wrapper'>
		<a class='project-name' href="https://www.acellera.com/"> <img src="/img/acellera_new_web.png" height="63" width="250"> </a>
		<div id="cssmenu">
		<ul id="menu">
            
                <li><a href="/docs/latest/index.html">Docs</a></li>            
            
                <li><a href="/help.html">Help</a></li>
            
                <li class="active"><a href="/download.html">Download</a></li>
            
                <li><a href="https://github.com/Acellera/htmd"><img src="/img/gitlogo.png" height="30" width="30"></a></li>

                <li><a href="https://www.youtube.com/user/acelleralive"><img src="/img/youtubeicon.png"> acelleralive</a></li>
            
			<li>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="./docs/latest/search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" /> 
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div></li>
		</ul>
		</div>
	
    	</div>
 </div>

  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        
          <a href="#" class="project-name" style="color:#284A87"> <img src="/img/acellera_new_web.png" > </a> <!--image here of logo--> 
        
	<div id="cssmenu">
		<ul id="menu">
			
			<li class="menu-documentation">
				<a href="/docs/latest/index.html">Docs</a>
			</li> 
			
			<li class="menu-documentation">
				<a href="/help.html">Help</a>
			</li>
			<li class="menu-download active">
				<a href="/download.html">Download</a>
			</li>
			<li class="menu-workshop">
				<a href="https://github.com/Acellera/htmd">GitHub</a>
			</li>
			<li class="menu-workshop last">
				<a href="https://www.youtube.com/user/acelleralive">Video tutorials</a>
			</li>			
			
			<li>
				
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../html/search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" /> 
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
			</li>	
			
			
		</ul>
		</div>
	
	<div style='clear:both'></div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
	<ul class='menu-content-title'><li></li></ul>
		<ul>
			{% block index %}
			{% endblock index %}
		</ul>

	<div id='feedbackbox' style='display:block;clear:both;'>

        <!--<a style="margin-left:10px;margin-top:10px;color:#016CA2;" href="/help.html" > Getting help </a>-->
	</div>


      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="#" style="color:#284A87"><img src="/img/acellera_new_web.png" ></a> <!--image logo here?-->
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div class="breadcrumbs navigation" role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
<!--
    <li><a href="#">Docs</a> &raquo;</li>
      
    <li>Acellera Software Documentation</li>
      <li class="wy-breadcrumbs-aside">
        
        
      </li>
-->
  </ul>
  <!--<hr/>-->
</div>


          <div role="main" class="document">
            
  <div class="section" id="acellera-software-documentation">

</div>
{% block content %}
{% endblock content %}  
    </div>


          </div>         
          
          <footer>
  
<!--
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="htmd/index.html" class="btn btn-neutral float-right" title="HTMD Documentation">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
    </div>
-->
  

  <hr/>

  <div class='contentinfo' role="contentinfo">
    <p> 
        &copy Copyright {{ year }}. All rights reserved.
    </p>
    <p>Read <a style="color:#016CA2" href="https://www.acellera.com/wp-content/uploads/2018/05/acellera_terms_conditions.pdf?x99744">software.acellera.com terms and conditions.</a></p>

  </div>
	<div class="acellera-logo"> Keep in touch! <a href="https://www.linkedin.com/groups/4220571/profile"><img src="/img/linkedin.png"></a> <a href="https://twitter.com/acellera"><img src="/img/twitter.png"></a> <a href="https://www.acellera.com/md-simulation-blog-news/"><i class="fa fa-rss" style="font-size:24px;color:black"></i> </a> 
</a>
	</div>
	<div style='clear:both'></div>

  
</footer>
        </div>
      </div>

    </section>

  </div>

	<a class="scrollup" href="#" style="display: inline;"></a>

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'X.Y',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
	<script type="text/javascript" src="_static/jquery.js"></script>
	<script type="text/javascript" src="_static/underscore.js"></script>
	<script type="text/javascript" src="_static/doctools.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!--
    <script type="text/javascript" src="_static/js/theme.js"></script>
-->
  
    <script type="text/javascript" src="_static/js/custom.js"></script>

    <script type="text/javascript">
    var trackOutboundLink = function(url) {
      gtag('event', 'click', {
        'event_category': 'outbound',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){document.location = url;}
      });
    }


    var trackOutboundLinkReg = function(url) {
      gtag('event', 'click', {
        'event_category': 'outboundreg',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){document.location = url;}
      });
    }

    </script>



	<script type="text/javascript">
        $(document).ready(function(){ 

            $("#showform").click(function(){
            $("#suggestion-wrapper").toggle();
            });


			$('#mpip').css('display','none');
			$('#driverupp').css('display','none');
			$('#htmdupp').css('display','none');
			
			$("#mpi").click(function(){
				if ( $("#mpip").css('display') == 'none' ){
					$('#mpip').css('display','inline-block');
					$('#mpi').attr("src","./img/upicon.png");
				}else{
					$('#mpip').css('display','none');
					$('#mpi').attr("src","./img/downicon.png");
				}
			});
			
			$("#driverup").click(function(){
				
				if ( $("#driverupp").css('display') == 'none' ){
					$('#driverupp').css('display','inline-block');
					$("#driverup").attr("src","./img/upicon.png");
				}else{
					$('#driverupp').css('display','none');
					$("#driverup").attr("src","./img/downicon.png");
				}
			});

			$("#htmdup").click(function(){
				
				if ( $("#htmdupp").css('display') == 'none' ){
					$('#htmdupp').css('display','inline-block');
					$("#htmdup").attr("src","./img/upicon.png");
				}else{
					$('#htmdupp').css('display','none');
					$("#htmdup").attr("src","./img/downicon.png");
				}
			});
			
            if (window.location.href.indexOf("/latest/") > -1) {
                //alert("you are on latest");
                $("#versionselector").find("[value='latest']").attr("selected", "selected");
            }else if (window.location.href.indexOf("/stable/") > -1) {
                //alert("you are on stable");
                $("#versionselector").find("[value='stable']").attr("selected", "selected");
            }
            $('#versionselector').change(function(){
                window.location.href = $('#versionselector option:selected').attr('url');
            });
			    
			$('input[name=q]:first')
				.mouseenter(function() {
					var rt = $('.main-header-wrapper').offset().left + $('.main-header-wrapper').outerWidth() - $( 'input[name=q]:first').offset().left - 20;
					var rt2 = $(window).width() - $( 'input[name=q]:first').offset().left - 20;
					
					if (rt2<rt){
					    rt=rt2;	
					}
					//$('input[name=q]:first').css('width','200%')
					$( 'input[name=q]:first').animate({
						width: rt,
					}, 100 );
			    })
				.mouseleave(function() {
					//$('input[name=q]:first').css('width','100%')
					$( 'input[name=q]:first').animate({
						width: "100%",
					}, 100 );	
			    });
            

        }) 
    </script>


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>

  <script src="/javascripts/scrollToTop.js"></script> 

</body>
</html>
