{% extends 'home_download_template.html' %}
{% set title = 'Academic download' %}
{% set active_page = 'download' %}
{% block content %}
	<center>
	    <h3>Please, fill the ticket below and we will do our best to help you.</h3>
        <div>
            <iframe id="mojo-desk" style="width:100%;height:600px;overflow:hidden;border:0;" src="https://acellera.mojohelpdesk.com/widgets/create_request#/ticket-form/28008/"></iframe>
        </div>
    </center>

    <br><br>

    <p>Data Controller: ACELLERA LABS - NIF: B65925323 Postal address: C / Dr. Trueta, 183, Barcelona (Spain); e-mail: info@acellera.com</p>

    <p>We use the information you share with us to provide you with the requested information or service. The data provided will be kept as long as you do not request the ending of this activity. The data will not be transferred to third parties except in the case where there is a legal obligation. You have the right to obtain the confirmation on whether Acellera Labs is using your personal data, therefore you have the right to access your personal data, correct inaccuracies or request its deletion when the data is no longer necessary for the purpose it was collected for.</p>

{% endblock %}



